<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/catalogo.css">
    <%- include('partials/head', {title: "catalogo"}) %>
<body>
    <%- include('partials/header') %>  
    <main>
    <div class="principalcatalogo">
        <% for(let i = 0; i < productos.length; i++) {%>
        <div class="contenedorProducto">
          
           
                
                    
                        <div class="imgContenedorProducto">
                            <img src="/images/products/<%= productos[i].image %>" alt="">
                        </div> 
                        <h2><%= productos[i].name %></h2>
                        <p class="descCp"><%= productos[i].description %> </p>
                   
               

                <div class="divBtn">
                <a href="/productos/<%= productos[i].id %>"><button class="btnCatalogo">Mas info</button></a>
                </div>
        </div>        
        <% } %>
    </div>
    <%- include('partials/footer') %>
    </main>
</body>
</html>

//1: "Box Small", 
//2: "Box Medium"
//3: "Box Large"
//4: "Box Tea"