<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Editar</title>
</head>
<body>
     
    <main>
        <%- include('partials/header') %>
<div class="principalEdit">

    <div class="edit-form">
        <h2>Editar un producto</h2>

        <form id="formEdit" action="/productos/edit/<%= productoEditado.id %>" method="POST" enctype="multipart/form-data">
        
           

            <div class="name">
                    <input type="text" name="name" id="name" value="<%= productoEditado.name %> "> 
                    <small id="errorName"><%=(locals.errors && errors.name) ? errors.name.msg : "" %></small>
                         
            </div>
      
    
            <div class="Tamaño">
                <input type="text" name="size" id="size" value="<%= productoEditado.size %> " >
                <small id="errorSize"><%=(locals.errors && errors.size) ? errors.size.msg : "" %></small>
            </div>

            <div class="precio">
                <input type="text" name="price" id="price" value="<%= productoEditado.price %> ">
                <small id="errorPrice"><%=(locals.errors && errors.price) ? errors.price.msg : "" %></small>
            </div>

            <div class="categoria">
                
                <select class="opciones" id="opciones" name="opciones">
                    <% for (let i=0; i<categorias.length;i++) { %> 
                       <option value ="<%=categorias[i].id%>">
                            <%=categorias[i].name%>
                        </option>
                    <% } %>         
                  </select>
            </div>

            <div class="imagen">
                <input class='image' type="file" name="image" id="image" value="<%= productoEditado.image %>">
                <small id="errorImage"><%=(locals.errors && errors.image) ? errors.image.msg : "" %></small>
            </div>

            <div class="descripcion">
                    <textarea id="description" name="description" minlength="20" maxlength="2000"><%= productoEditado.description %>

                    </textarea>
                    <small id="error"><%=(locals.errors && errors.description) ? errors.description.msg : "" %></small>
            </div>
        
        
            <div class="buttonEdit">
                
                <button class="btn" type="submit">Editar</button>
            </form>
            <form action="/productos/edit/<%= productoEditado.id %>?_method=DELETE" method="POST">
                <button class="btn" type="submit">Eliminar</button>
            </div>
        </form>
            
        
    </div>
</div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/editFront.js"></script>
</body>
</html>