<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Iniciar Sesión"}) %>
<body>
    <%- include('partials/header') %>  
    <div class="principallogin">
    
        <div class="login">
            <h2>Iniciar Sesión</h2>
    
            <form id="formLogin" action="/users/login" method="POST">
        
             <div class="email">

             <label for="email"></label>
             <input class="inlogin" type="email" placeholder="Escribe tu email" name="email" id="email" > 
             <small id="errorEmail"><%=(locals.errors && errors.email) ? errors.email.msg : "" %></small>
            
            </div>

             <div class="password">

             <label for="password"></label>
             <input class= "inlogin" type="password" placeholder="Escribe tu contraseña" name="password" id="password">
             <small id="errorPassword"><%=(locals.errors && errors.password) ? errors.password.msg : "" %></small>
            
            </div>
            
            <div>
                <label for="remember">
                <input type="checkbox" class="remember"> Recuerdame
                </label>
            </div>
             
            <div class="otp">
                 
                <a href="#">¿Olvidaste tu contraseña?</a>
                
            </div>

            <div class="buttonlogin">
                
                <button class="btn" type="submit">Iniciar Sesión</button>
            
            </div>

            

            </form>     

        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/loginFront.js"></script>
</body>
</html>