<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Iniciar Sesión"}) %>
<body>
    <%- include('partials/header') %> 
    <div class="containerProfile">
        

        <div class="perfil">  
            
        
                <form action="/users/perfil/:id/edit?_method=PUT" method="POST">
            
                 <h2 class="titulo">Mi Perfil</h2>
                <div class="fotoPerfil">
                    <img class="" src="" alt="" value="">
                </div>
                <div class="formPerfil">
                <div class="name">
                 <label for="name"></label>
                <input class="formulario" type="text" id="name" name="name" value="<%= miPerfil.name %>">
                </div>
                <div class="surname">   
                <label for="surname"></label>
                <input class="formulario" type="text" id="surname" name="surname" value="<%= miPerfil.surname %>">
                </div>
                <div class="email">
                <label for="email"></label>
                <input class="formulario" type="email" id="email" name="email" value="<%= miPerfil.email %>">
                </div>
                <div class="password">
                <label for="password"></label>
                <input class="formulario" type="password" placeholder="Cambiar tu contraseña" name="password" id="password"></div>
                <div class="submit"><button class="btn" type="submit">Editar</button></div>
                </div>
        </form>
            
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>