<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Iniciar Sesión"}) %>
    <link rel="stylesheet" href="/css/style.css">
<body>
    <%- include('partials/header') %> 
    <div class="containerProfile">
           
    

        <div class="perfil">  
            
            
                <h2 class="titulo">Mi Perfil</h2>

                <div class="fotoPerfil">
                    <img class="" src="/images/users/<%= miPerfil.avatar %>" alt="" value="">
                </div>

            <div class="datosperfil">
                 <h3><%= miPerfil.name %></h3>

                <h3><%= miPerfil.surname %></h3>

                <h3><%= miPerfil.email %></h3>
            </div>

                <div class="submit">
                    <a href="/users/perfil/<%= miPerfil.id %>/edit">
                    <button class="btn">Editar mi perfil</button></a>
                </div>

                <div class="submit">
                    <a href="/productos/catalogo">
                    <button class="btn">Comprar</button></a>
                </div>

                <div class="submit">
                    <a href="/users/productcart">
                    <button class="btn">Mi carrito</button></a>
                </div>

            </div>
        
            
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>