<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Detalle de Producto"}) %>

<body class="body">
    <%- include('partials/header') %>
    <div class="principaldetalle">
     

    <section class="detalleproducto">
        <section class="cajaizquierda">
           
            
            <div class="imgdetalle">
                <img class="img4" src= "/images/products/<%= productos.image %>" alt="">
            </div>
        </section>

        <section class="cajaderecha" >

            <div class="descripcion">
                
                <h2><%= productos.name %></h2>
                
            <p><%= productos.description %></p>
            </div>

            
                
                <div class="valor">
                    <p class="precio"><%= productos.price %>
                    </p>
                </div>

                <div class="buttonagregarcarrito">
                    <button class="btn" type="submit">Agregar al carrito

                    </button>
                </div>

            
        </section>

        </section>

        
    </section>

    <div class="linea"></div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>